/* ========== DATA PAGE TABLE ========== */
.data-table {
    border-collapse: collapse;
    width: 80%;
    margin: 25px auto;
    font-size: 18px;
}

.data-table th,
.data-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

/* Table header */
.data-table th {
    background-color: #000;
    color: #fff;
}


/* ===== IMAGES PAGE ===== */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1cm; /* space between images */
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover; /* keeps image proportion centered */
    border: 3px solid #000; /* black frame */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Slight zoom on hover */
.gallery img:hover {
    transform: scale(1.05);
}
